/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 156px;
}

.form {
  margin-bottom: 32px;
}

.form-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Montserrat';
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus-visible {
  border: 1px solid #4e75ff;
  outline: none;
}

.form-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Montserrat';
}

.form-button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1440px;
  padding: 24px 156px;
  margin: auto;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  padding: 0;
  width: 360px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-image {
  object-fit: cover;
  width: 360px;
  height: 200px;
  transition: transform 250ms ease-in-out;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.04);
}

.gallery-details {
  position: absolute;
  bottom: -4px;
  display: flex;
  width: 376px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7511379551820728) 13%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.gallery-item:hover .gallery-details {
  opacity: 1;
}

.detail {
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-logo {
  width: 32px;
  height: 32px;
}

.gallery-text {
  color: antiquewhite;
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-image .sl-caption {
  text-align: center;
}

.sl-wrapper .sl-close {
  color: #fff;
}

.sl-wrapper .sl-counter {
  color: #fff;
}

.sl-wrapper .sl-navigation button {
  color: #fff;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #808080;
  display: none;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #4e75ff;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}

.iziToast > .iziToast-close {
  background: url(../public/close.png) no-repeat 50% 50%;
  background-size: 16px;
}
